<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.fang" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Famous/Angular Example</name>
  <description>
    Example app
  </description>
  <author email="paulegan@mail.com" href="https://github.com/paulegan/famous-angular-example">
    Paul Egan
  </author>
  <content src="index.html" />
  <access origin="*" />
</widget>
