.item-meta {
  $padding: 20px;

  background: white;
  color: black;
  font-size: 20px;
  overflow: hidden;

  .desc {
    padding: $padding;
  }

  .user {
    position: absolute;
    bottom: $padding;
    left: $padding;
  }

  .date {
    position: absolute;
    bottom: $padding;
    right: $padding;
  }
}
