.item.header {
  height: 40vh;
}

.item-meta {
  $padding: 20px;

  background: white;
  color: black;
  height: 60vh;
  font-size: 20px;

  .desc {
    padding: $padding;
  }

  .user {
    position: absolute;
    bottom: $padding;
    left: $padding;
  }

  .date {
    position: absolute;
    bottom: $padding;
    right: $padding;
  }
}
