@import 'settings';
@import 'mixins';

body {
  margin: 0;
  @include background;
  color: white;
  font-family: 'futura-condensed';
  font-style: normal;
  font-weight: 500;
}

.full-screen {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  margin: 0px auto;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

@import 'splash';
@import 'itemlist';
@import 'itemdetail';
