<fa-view>
  <fa-modifier fa-size="screenSize">
    <fa-header-footer-layout fa-options="{headerSize: 50}">

      <fa-surface class="view-header">
        <h1>{{ title }}</h1>
      </fa-surface>

      <fa-scroll-view fa-pipe-from="scrollEventHandler">
        <fa-view ng-repeat="item in items">
          <fa-modifier fa-size="[undefined, Math.floor(screenSize[0] / 32 * 15)]">
            <ng-include src="'partials/itemhead.html'"></ng-include>
          </fa-modifier>
        </fa-view>
      </fa-scroll-view>

    </fa-header-footer>
  </fa-modifier>
</fa-view>
