<fa-container-surface
    fa-options="{properties: {overflow: 'hidden'}, classes: ['item']}"
    fa-click="itemClickHandler($event, item.id)"
    fa-pipe-to="scrollEventHandler">
  <fa-modifier fa-align="[0.5, 0.5]" fa-origin="[0.5, 0.5]">
    <fa-image-surface fa-image-url="{{ item.image }}" fa-size="[undefined, true]">
    </fa-image-surface>
  </fa-modifier>
  <fa-modifier fa-align="[1, 1]" fa-origin="[1, 1]" fa-size="[undefined, 70]">
    <fa-surface class="overlay">
      <h2>{{ item.title }}</h2>
    </fa-surface>
  </fa-modifier>
</fa-container-surface>
